/*
* @Author: kwy126
* @Date:   2018-02-03 13:21:01
* @Last Modified by:   kwy126
* @Last Modified time: 2018-02-03 14:36:09
*/
/** 导航主题 **/
.nav-side{
	float: left;
	width: 130px;
	min-height: 100px;
}
.nav-side .nav-item{
	line-height: 25px;
	font-size: 13px;
}

.nav-side .nav-item .link{
	color:#888;
}

.nav-side .nav-item.active .link{
	color:#c60023;
}

/** 右侧内容区 **/
.content .with-nav{
	float:left;
	width:950px;
}